
<div  *ngIf="UserData[0].role === 'author'">

</div>
<div  *ngIf="UserData[0].role === 'freelancer'">
<app-freelancernav></app-freelancernav>
<div class="container">
  <div class="row">
    <div class="col-6">
      <div style="position: relative;">
        <input type="text" type="text" name="search" [(ngModel)]="searchTerm" (input)="onSearchChange($event)"
          class="search" placeholder="Search Job posting">
        <img class="srch" src="../assets/search.png" alt="pubkin Start a career now">
        <button class="btn kkfrnavse all dropdown-toggle" type="button" id="dropdownMenuButton1"
          data-bs-toggle="dropdown" aria-expanded="false">
          All
        </button>
        <ul class="dropdown-menu listd" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item ddis">Today</a></li>
          <li><a class="dropdown-item ddis">Yesterday</a></li>
        </ul>
      </div>
    </div>
    <div class="col-6">
    </div>
  </div>
</div>
<br><br>
<div>
  <div class="container kkjobsrc">
    <div class="row kkjbbrow">
      <div class="col-9 ">
        <div class="kkjbbx">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <p class="kkjobfutxt">Job for you</p>
                <div *ngIf="!hide23" class="kkjobfutxt1" (click)="onFilterButtonClick(); hide1();">Skill Match</div>
                <div *ngIf="hide23" class="kkjobfutxt1" (click)="onResetButtonClick(); hide1();">View All</div>
                <div class="kkjobfutxt2">Viewed Recently</div>
              </div>
            </div>
          </div>       

            <div class="container " *ngFor="let JobPost of paginatedDataList | jobsearch : searchTerm ; let  i=index;  ">

              <div class="row" *ngIf="JobPost.status === 'Open'">
              <div class="col-12 jobcontents">
                <div class="row">
                  <div class="col-9">
                    <p class="kkjbtxtline1">{{JobPost.jobTitle}} - {{JobPost.skillSet}}</p>
                  </div>
                  <div class="col-3">
                    <!-- <span><img src="../assets/tag.png"
                  class="kkjbimg1"><img src="../assets/3icon.png" class="kkjbimg2"></span> -->
                    <button class="viewapply" (click)="showJobDetails(JobPost.jobUniqueId)">View & Apply</button>
                  </div>
                </div>
                <p class="kkjbtxtline2">Rate:
                  <span *ngIf="JobPost.currency === 'INR'">₹</span>
                  <span *ngIf="JobPost.currency === 'USD'">$</span>
                  <span *ngIf="JobPost.currency === 'AED'">د.إ</span>
                  <span *ngIf="JobPost.currency === 'ANG'">ƒ</span>
                  <span *ngIf="JobPost.currency === 'AOA'">Kz</span>
                  <span *ngIf="JobPost.currency === 'ARS'">$</span>
                  <span *ngIf="JobPost.currency === 'OMR'">ر.ع.</span>
                  <span *ngIf="JobPost.currency === 'SAR'">.س</span>
                  {{JobPost.toBudget}} est. time : {{JobPost.projectEndDate}} {{JobPost.durationOfProject}} - Posted
                  {{ getPostStatus(JobPost.postDate) }}
                </p>
                <!-- <p class="kkjbtxtline3"><span *ngIf="!showMore">{{JobPost.description | slice:0:300}}....</span><span *ngIf="showMore">{{JobPost.description}}</span><span (click)="ShowMoreLess()" class="text-decoration-underline">  More</span></p> -->
                <p class="kkjbtxtline3">
                  <span *ngIf="!JobPost.showMore">{{JobPost.description | slice:0:100}}...</span>
                  <span *ngIf="JobPost.showMore || JobPost.showMoreIndex === i">{{JobPost.description}}...</span>
                  <span (click)="ShowMoreLess(i)" class="text-decoration-underline" style="cursor: pointer;">{{ JobPost.showMore ? 'Less' : 'More' }}  </span>
              </p>
                <div class="kkjbtxtline4"><img src="../assets/startick.png"> Profile verified</div>
                <div class="kkjbtxtline5"><img src="../assets/startick.png"> Paymeny verified</div>
                <div class="kkjbtxtline6">Tracking_ID : {{JobPost.jobUniqueId}}</div>
              </div>
            </div>
          </div>
          </div>
        </div>
      <div class="col-3 kkjbbx1">
        <div class="kkcrtalign">
          <div class="card kkjbprcrd" style=" width: 227px;">
            <img class="kkcrdimg"  *ngIf="UserData[0].profileUrl"  src={{UserData[0].profileUrl}}>
            <img class="kkcrdimg"  *ngIf="!UserData[0].profileUrl"  src="../assets/Frame 82.png">
            <p class="kkfrname">{{UserData[0].firstName}} <img  *ngIf="calculateTotal() === 100" src="../assets/Verified Check_.png" alt="pubkins" style="margin-top: -6px;"> </p>
            <p class="kkfrname1">Freelancer</p>
            <div class="card-body kkcrdbdy">
              <p class="kkfrname2">Profile Completeness:</p>
             <p class="kkcplstus">{{calculateTotal()}}% complete</p>
             <div class="progress pgrss" role="progressbar" aria-label="Basic example"
             [attr.aria-valuenow]="calculateTotal()" aria-valuemin="0" aria-valuemax="100">
             <div class="progress-bar pgrssbar" [style.width.%]="calculateTotal()"></div>
         </div>
              <div class="kkindbx" *ngIf="calculateTotal() < 99">
                <p class=" kkindbx2 " *ngIf="!UserData[0].portfolioDetails" routerLink="/profile/portfolio">Add Portfolio</p>
                <p class="kkindbx2" *ngIf="!UserData[0].educationDetails" routerLink="/profile/education-details">Add Education Details</p>
                <p class="kkindbx2" *ngIf="!UserData[0].workingDetails" routerLink="/profile/employment-history" >Add Work Details</p>
                <p class="kkindbx2" *ngIf="!UserData[0].details" routerLink="/profile/freelancing-details">Add Freelancing details</p>
                <p class="kkindbx2" *ngIf="!UserData[0].bankingDetails"  routerLink="/profile/payment">Add Pricing Details</p>
                <p class="kkindbx2" *ngIf="!UserData[0].govtIdDetails" routerLink="/profile/govtId-details" >Verify with Govt.ID</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
  <div class="row mt-3 ">
    <div class="col-3">
      <!-- <label for="colFormLabelSm" class="col-form-label col-form-label-sm c1">Jobs Per Page:</label> -->
    </div>
    <div class="col-1">
      <!-- <select class="form-select" id="autoSizingSelect">
<option selected>10</option>
<option value="1">20</option>
<option value="2">50</option>
</select> -->
    </div>
    <div class="col-3"></div>
    <div class="col-1">
      <div class="pagination">
        <div class="k2">
          < </div>
            <button class="btn btn-link k1" [disabled]="currentPage === 1"
              (click)="onPageChange(currentPage - 1)">Previous</button>
            <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
              <ul class="pagination">
                <li class="page-item"><a class="d5"><span class="circle">{{currentPage}}</span></a>
                </li>
              </ul>
            </div>
            <button class="btn btn-link k1" [disabled]="paginatedDataList.length < itemsPerPage"
              (click)="onPageChange(currentPage + 1)">Next</button>
            <div class="k2">></div>
        </div>
      </div>
    </div>
  </div>
</div>
 </div>



  <!-- <ng-toast [style]="{ width: '300px', paddingTop: '30px' }"></ng-toast> -->

