
<div class="container mt-3">
    <div class="row">
        <div class="col-3">
            <img routerLink="/" src="../assets/Artboard 1 1.png" alt="Pubkin">
        </div>
        <div class="col-9">
        </div>
    </div>          
</div>

<form>
    <div class="text-center flx">

        <div class="ecard">
            <div class="fmt1">
                <span class="emailforegtpass">
                    lock
                </span>
            </div>
            <p class="head" style="margin-top: 32px;">Update Your Password</p>
            <p class="forgetleft1">New Password</p>
            <form    novalidate
            #updatepasswordform="ngForm"
            (ngSubmit)="onSubmitPassword(updatepasswordform);">
            <input type="hidden" class="int" style="width:430px" placeholder="New Password" id="id" name="id"   [(ngModel)]="userservice.userData.id"  [value]="userservice.userData.id"  >
            <input type="password" class="int" style="width:430px" placeholder="New Password" id="password" name="password"   [(ngModel)]="userservice.userData.password">
            <p class="forgetleft1">Confirm Password</p>
            <input type="password" class="int" style="width:430px" placeholder="Confirm Password" id="password" name="password">
            <div class="flx1">
                <button class="btnfr2" type="submit"><span>Submit</span></button>
            </div>
        </form>
        </div>
    </div>
</form>
