.paynow { 
    display: inline-flex;
    padding: 12px;
    justify-content: center;
    gap: 10px;
    border: 0px solid #A426D1;
    border-radius: 7px;
    background: #A426D1;
    color: #FFF;
    font-family: League Spartan;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}