<div class="dtview" *ngIf="UserData[0].role === 'freelancer'">

</div>
<div class="dtview" *ngIf="UserData[0].role === 'author'">
  <app-author-nav></app-author-nav>
  
  <div class="container  rrraligntop1">
    <div class="row">
      <div class="col-xl-6 col-lg-8">
        <div class="rrcomposrelalign1">
          <input type="text" class="rrinputsearch1" placeholder="Search job posting" name="search" [(ngModel)]="searchTerm" (input)="onSearchChange($event)">
          <img class="rrsrchicon1" src="./assets/search.png" alt="pubkin Start a career now">
          <button class="btn  rralibtnall dropdown-toggle" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            All
          </button>
          <ul class="dropdown-menu listd" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item ddis">Today</a></li>
            <li><a class="dropdown-item ddis">Yesterday</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xl-6 col-lg-3col-lg-3">

      </div>
    </div>
  </div>

  <div class="container rrraligntop1">
    <div class="row">
      <div class="col-8">
        <div class="rrcomcenalign1 rrhirebestalign">
          <div>
            <div class="rrcomcenalign1">
              <p class="kkprtag1">Hire the best talent in the market</p>
            </div>
            <div class="rrcomcenalign1">
              <p class="kkprtag2">Find, attract, and retain the best talent to drive your success</p>
            </div>
            <div class="rrcomcenalign1">
              <button class="btn kkprbtn1" [disabled]="calculateTotal() < 69" routerLink="/post-a-job">Post a job</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="rrcomendalign1 ">
          <div class="rrkkprdetacn2">
            <p class="rrkkprtag3">Profile completeness:</p>
            <p class="rrkkprtag4">{{calculateTotal()}}% complete</p>
         <div class="progress pgrss" role="progressbar" aria-label="Basic example"
             [attr.aria-valuenow]="calculateTotal()" aria-valuemin="0" aria-valuemax="100">
             <div class="progress-bar pgrssbar" [style.width.%]="calculateTotal()"></div>
         </div>
            <div class="rrcomcenalign1" *ngIf="calculateTotal() < 99">
              <button class="btn rrkkprbtn2" (click)="openDeliveryDialog();">Complete profile</button>
            </div>
            <div class="rrcomcenalign1" *ngIf="calculateTotal() === 100">
              <p class="rrkkprtag5">Your Profile is verified now!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-6">
        <p class="vvrecnt">Your recent activity</p>
      </div>
      <div class="col-lg-4"></div>
      <div class="col-2">
        <p class="viewallvv" routerLink="/authors/accept-a-request">View all posts</p>
      </div>
    </div>
  </div>
  <div class="container " *ngFor="let JobPost of paginatedDataList  | jobsearch : searchTerm ">
    <div class="borderboxv" *ngIf=" JobPost.usersId == UserData[0].id" >
      <div class="row" >
        <br>
        <div class="col-10">
          <p class="recenvv" routerLink="/authors/accept-a-request">{{JobPost.jobTitle}}</p>
        </div>
        <div class="col-2"><svg class="svgbutt" xmlns="http://www.w3.org/2000/svg" width="33" height="33"
            viewBox="0 0 33 33" fill="none">
            <circle cx="16.5" cy="16.5" r="16.5" transform="rotate(90 16.5 16.5)" fill="#F6DCFF" />
            <path d="M13 10L20 16L13 22" stroke="#AD2DDB" stroke-width="3col-lg-3" stroke-linecap="round" />
          </svg></div>
        <p class="recenvv2">New Applications: 0 </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row mt-3 ">
      <div class="col-3">
      </div>
      <div class="col-1">
      </div>
      <div class="col-2"></div>
      <div class="col-3"></div>
      <div class="col-1">
        <div class="pagination">
          <div class="k2">
            < </div>
              <button class="btn btn-link k1" [disabled]="currentPage === 1"
                (click)="onPageChange(currentPage - 1)">Previous</button>
              <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                <ul class="pagination">
                  <li class="page-item"><a class="d5"><span class="circle">{{currentPage}}</span></a>
                  </li>
                </ul>
              </div>
              <button class="btn btn-link k1" [disabled]="paginatedDataList.length < itemsPerPage"
                (click)="onPageChange(currentPage + 1)">Next</button>
              <div class="k2">></div>
          </div>
        </div>
      </div>
      <div class="col-1"></div>
    </div>
  </div>
  
  <div class="container rrkkprdivbox1">
    <p class="rrchead">Service 1</p>
    <div class="row">
      <div class="col-lg-3">
        <div class="rrkkprcrd">
          <div class="rrcomcenalign1">
            <img src="./assets/animoji.png" class="rounded-circle rrkkimgcard1" alt="...">
          </div>
          <div class="rrcomcenalign1">
            <p class="rrkkchead">Sathish <img src="./assets/startick.png" alt="Pubkin" class="rrkkcheadimg1"> </p>
          </div>
          <div class="rrcomcenalign1">
            <p class="rrccont">Full Designation</p>
          </div>
          <div class="rrcomcenalign1">
            <p class="rrkkcrdprtx"><img src="./assets/star.png" alt="Pubkin" class="rrkkcrdprtximg1">3.9/5(40 jobs)</p>
          </div>
          <div class="rrcomcenalign1">
            <div class="rrkkcrdskiltg rrcardalign1">software1</div>
            <div class="rrkkcrdskiltg rrcardalign2">software1</div>
          </div>
          <div class="rrcomcenalign1">
            <div class="rrkkcrdskiltg rrcardalign1">software1</div>
            <div class="rrkkcrdskiltg rrcardalign2">software1</div>
          </div>
          <div class="rrcomcenalign1">
            <p class="rrkkhrtxt">₹1400hr</p>

          </div>
          <!-- <div class="rrcomcenalign1">
            <button class="btn rrkkprsmb">See More</button>
          </div> -->
        </div>
      </div>
      
      <div class="col-lg-3">
        <div class="rrcomcenalign1">
          <div class="rrkkprcrd">
            <div class="rrcomcenalign1">
              <img src="./assets/animoji-24.png" class="rounded-circle rrkkimgcard1" alt="...">
            </div>
            <div class="rrcomcenalign1">
              <p class="rrkkchead">Karthi <img src="./assets/startick.png" alt="Pubkin" class="rrkkcheadimg1"> </p>
            </div>
            <div class="rrcomcenalign1">
              <p class="rrccont">Full Designation</p>
            </div>
            <div class="rrcomcenalign1">
              <p class="rrkkcrdprtx"><img src="./assets/star.png" alt="Pubkin" class="rrkkcrdprtximg1">3.9/5(40 jobs)
              </p>
            </div>
            <div class="rrcomcenalign1">
              <div class="rrkkcrdskiltg rrcardalign1">software1</div>
              <div class="rrkkcrdskiltg rrcardalign2">software1</div>
            </div>
            <div class="rrcomcenalign1">
              <div class="rrkkcrdskiltg rrcardalign1">software1</div>
              <div class="rrkkcrdskiltg rrcardalign2">software1</div>
            </div>
            <div class="rrcomcenalign1">
              <p class="rrkkhrtxt">₹1400hr</p>

            </div>
            <!-- <div class="rrcomcenalign1">
              <button class="btn rrkkprsmb">See More</button>
            </div> -->
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="rrcomcenalign1">
          <div class="rrkkprcrd">
            <div class="rrcomcenalign1">
              <img src="./assets/animoji-19.png" class="rounded-circle rrkkimgcard1" alt="...">
            </div>
            <div class="rrcomcenalign1">
              <p class="rrkkchead">Viswa <img src="./assets/startick.png" alt="Pubkin" class="rrkkcheadimg1"> </p>
            </div>
            <div class="rrcomcenalign1">
              <p class="rrccont">Full Designation</p>
            </div>
            <div class="rrcomcenalign1">
              <p class="rrkkcrdprtx"><img src="./assets/star.png" alt="Pubkin" class="rrkkcrdprtximg1">3.9/5(40 jobs)
              </p>
            </div>
            <div class="rrcomcenalign1">
              <div class="rrkkcrdskiltg rrcardalign1">software1</div>
              <div class="rrkkcrdskiltg rrcardalign2">software1</div>
            </div>
            <div class="rrcomcenalign1">
              <div class="rrkkcrdskiltg rrcardalign1">software1</div>
              <div class="rrkkcrdskiltg rrcardalign2">software1</div>
            </div>
            <div class="rrcomcenalign1">
              <p class="rrkkhrtxt">₹2430hr</p>

            </div>
            <!-- <div class="rrcomcenalign1">
              <button class="btn rrkkprsmb">See More</button>
            </div> -->
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="rrcomendalign1">
          <div class="rrkkprcrd">
            <div class="rrcomcenalign1">
              <img src="./assets/animoji-22.png" class="rounded-circle rrkkimgcard1" alt="...">
            </div>
            <div class="rrcomcenalign1">
              <p class="rrkkchead">Rahul <img src="./assets/startick.png" alt="Pubkin" class="rrkkcheadimg1"> </p>
            </div>
            <div class="rrcomcenalign1">
              <p class="rrccont">Full Designation</p>
            </div>
            <div class="rrcomcenalign1">
              <p class="rrkkcrdprtx"><img src="./assets/star.png" alt="Pubkin" class="rrkkcrdprtximg1">3.9/5(40 jobs)
              </p>
            </div>
            <div class="rrcomcenalign1">
              <div class="rrkkcrdskiltg rrcardalign1">software1</div>
              <div class="rrkkcrdskiltg rrcardalign2">software1</div>
            </div>
            <div class="rrcomcenalign1">
              <div class="rrkkcrdskiltg rrcardalign1">software1</div>
              <div class="rrkkcrdskiltg rrcardalign2">software1</div>
            </div>
            <div class="rrcomcenalign1">
              <p class="rrkkhrtxt">₹3400hr</p>

            </div>
            <!-- <div class="rrcomcenalign1">
              <button class="btn rrkkprsmb">See More</button>
            </div> -->
          </div>
        </div>
      </div>
    </div>
       <div class="row">
        <div class="col-lg-3">
          <div class="rrkkprcrd">
            <div class="rrcomcenalign1">
              <img src="./assets/animoji-12.png" class="rounded-circle rrkkimgcard1" alt="...">
            </div>
            <div class="rrcomcenalign1">
              <p class="rrkkchead">Anusiya <img src="./assets/startick.png" alt="Pubkin" class="rrkkcheadimg1"> </p>
            </div>
            <div class="rrcomcenalign1">
              <p class="rrccont">Full Designation</p>
            </div>
            <div class="rrcomcenalign1">
              <p class="rrkkcrdprtx"><img src="./assets/star.png" alt="Pubkin" class="rrkkcrdprtximg1">3.9/5(40 jobs)</p>
            </div>
            <div class="rrcomcenalign1">
              <div class="rrkkcrdskiltg rrcardalign1">software1</div>
              <div class="rrkkcrdskiltg rrcardalign2">software1</div>
            </div>
            <div class="rrcomcenalign1">
              <div class="rrkkcrdskiltg rrcardalign1">software1</div>
              <div class="rrkkcrdskiltg rrcardalign2">software1</div>
            </div>
            <div class="rrcomcenalign1">
              <p class="rrkkhrtxt">₹1700hr</p>
  
            </div>
            <!-- <div class="rrcomcenalign1">
              <button class="btn rrkkprsmb">See More</button>
            </div> -->
          </div>
        </div>
        
        <div class="col-lg-3">
          <div class="rrcomcenalign1">
            <div class="rrkkprcrd">
              <div class="rrcomcenalign1">
                <img src="./assets/animoji-23.png" class="rounded-circle rrkkimgcard1" alt="...">
              </div>
              <div class="rrcomcenalign1">
                <p class="rrkkchead">Dinesh <img src="./assets/startick.png" alt="Pubkin" class="rrkkcheadimg1"> </p>
              </div>
              <div class="rrcomcenalign1">
                <p class="rrccont">Full Designation</p>
              </div>
              <div class="rrcomcenalign1">
                <p class="rrkkcrdprtx"><img src="./assets/star.png" alt="Pubkin" class="rrkkcrdprtximg1">3.9/5(40 jobs)
                </p>
              </div>
              <div class="rrcomcenalign1">
                <div class="rrkkcrdskiltg rrcardalign1">software1</div>
                <div class="rrkkcrdskiltg rrcardalign2">software1</div>
              </div>
              <div class="rrcomcenalign1">
                <div class="rrkkcrdskiltg rrcardalign1">software1</div>
                <div class="rrkkcrdskiltg rrcardalign2">software1</div>
              </div>
              <div class="rrcomcenalign1">
                <p class="rrkkhrtxt">₹1450hr</p>
  
              </div>
              <!-- <div class="rrcomcenalign1">
                <button class="btn rrkkprsmb">See More</button>
              </div> -->
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="rrcomcenalign1">
            <div class="rrkkprcrd">
              <div class="rrcomcenalign1">
                <img src="./assets/animoji-1.png" class="rounded-circle rrkkimgcard1" alt="...">
              </div>
              <div class="rrcomcenalign1">
                <p class="rrkkchead">Jesi <img src="./assets/startick.png" alt="Pubkin" class="rrkkcheadimg1"> </p>
              </div>
              <div class="rrcomcenalign1">
                <p class="rrccont">Full Designation</p>
              </div>
              <div class="rrcomcenalign1">
                <p class="rrkkcrdprtx"><img src="./assets/star.png" alt="Pubkin" class="rrkkcrdprtximg1">3.9/5(40 jobs)
                </p>
              </div>
              <div class="rrcomcenalign1">
                <div class="rrkkcrdskiltg rrcardalign1">software1</div>
                <div class="rrkkcrdskiltg rrcardalign2">software1</div>
              </div>
              <div class="rrcomcenalign1">
                <div class="rrkkcrdskiltg rrcardalign1">software1</div>
                <div class="rrkkcrdskiltg rrcardalign2">software1</div>
              </div>
              <div class="rrcomcenalign1">
                <p class="rrkkhrtxt">₹1400hr</p>
  
              </div>
              <!-- <div class="rrcomcenalign1">
                <button class="btn rrkkprsmb">See More</button>
              </div> -->
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="rrcomendalign1">
            <div class="rrkkprcrd">
              <div class="rrcomcenalign1">
                <img src="./assets/animoji-13.png" class="rounded-circle rrkkimgcard1" alt="...">
              </div>
              <div class="rrcomcenalign1">
                <p class="rrkkchead">Abdul <img src="./assets/startick.png" alt="Pubkin" class="rrkkcheadimg1"> </p>
              </div>
              <div class="rrcomcenalign1">
                <p class="rrccont">Full Designation</p>
              </div>
              <div class="rrcomcenalign1">
                <p class="rrkkcrdprtx"><img src="./assets/star.png" alt="Pubkin" class="rrkkcrdprtximg1">3.9/5(40 jobs)
                </p>
              </div>
              <div class="rrcomcenalign1">
                <div class="rrkkcrdskiltg rrcardalign1">software1</div>
                <div class="rrkkcrdskiltg rrcardalign2">software1</div>
              </div>
              <div class="rrcomcenalign1">
                <div class="rrkkcrdskiltg rrcardalign1">software1</div>
                <div class="rrkkcrdskiltg rrcardalign2">software1</div>
              </div>
              <div class="rrcomcenalign1">
                <p class="rrkkhrtxt">₹1400hr</p>
  
              </div>
              <!-- <div class="rrcomcenalign1">
                <button class="btn rrkkprsmb">See More</button>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>



