<div class="container" style="margin-top: 20px;">
    <div class="row">
      <div class="col-2">
        <img routerLink="/authors" src="./assets/logo.png" class="rrpublogoimg1">
      </div>
      <div class="col-5">
        <div class="rrheadalign1">
          <a class="kkfrnavse rrmessalign1"  *ngIf="calculateTotal() < 69" >Post a Job</a>
          <a class="kkfrnavse rrmessalign1"  *ngIf="calculateTotal() > 69" routerLink="/post-a-job">Post a Job</a>
          <!-- <div class="dropdown">
            <button class="btn kkfrnavse dropdown-toggle " type="button" id="dropdownMenuButton1"
              data-bs-toggle="dropdown" aria-expanded="false">
              Jobs
            </button>
            <ul class="dropdown-menu listd" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item ddis" routerLink="/post-a-job">Post a New Job</a></li><br>
              <li><a class="dropdown-item ddis" routerLink="/authors/accept-a-request">Job Postings</a></li><br>
              <li><a class="dropdown-item ddis" routerLink="/authors/on-going-jobs">Ongoing Job</a></li><br>
              <li><a class="dropdown-item ddis">Completed Job</a></li><br>
            </ul>
          </div> -->
          <div class="dropdown">
            <button class="btn kkfrnavse dropdown-toggle " type="button" id="dropdownMenuButton1"
              data-bs-toggle="dropdown" aria-expanded="false">
              Jobs
            </button>
            <ul class="dropdown-menu listd" aria-labelledby="dropdownMenuButton1">
              <!-- <li><a class="dropdown-item ddis">Post a New Job</a></li><br> -->
              <li ><a class="dropdown-item ddis" routerLink="/authors/accept-a-request">My Jobs</a></li><br>
              <li  routerLink="/authors/on-going-jobs"><a class="dropdown-item ddis" >Ongoing Jobs</a></li><br>
              <li  routerLink="/authors/completed-jobs"><a class="dropdown-item ddis" >Completed Jobs</a></li><br>
            </ul>
          </div>
          <div class="dropdown">
            <button class="btn kkfrnavse dropdown-toggle " type="button" id="dropdownMenuButton1"
              data-bs-toggle="dropdown" aria-expanded="false">
              Reports
            </button>
            <ul class="dropdown-menu listd" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item ddis">Transactions</a></li><br>
              <li><a class="dropdown-item ddis">Project Dashboard</a></li><br>
            </ul>
          </div>
          <a class="kkfrnavse rrmessalign1" routerLink="/setting/wallet" >Wallet</a>
        </div>
      </div>
      <div class="col-3">

      </div>
      <div class="col-2">
        <div class=" rriconalign1">
          <img (click)="showNotification();" src="./assets/bell.png" class="rrbellimg1">
          <img (click)="hidden()" style="width: 51px;"  *ngIf="!User[0].profileUrl"  src="../assets/peerson.png">
          <img (click)="hidden()"  style="width: 51px;"  *ngIf="User[0].profileUrl"  src={{User[0].profileUrl}}>
        </div>
      </div>
    </div>
  </div>

  <div class="notification-card "  *ngIf="showNotifications">
    <div >
        <div  *ngFor="let notification of notifications">
          <div class="notification-head" *ngIf="notification.userId == User[0].id">
           {{notification.notification}}
      
        <p class="notification-view">
          View
          <svg class="notification-arrow" xmlns="http://www.w3.org/2000/svg" width="12" height="8" viewBox="0 0 12 8" fill="none">
            <path d="M11.3536 4.35355C11.5488 4.15829 11.5488 3.84171 11.3536 3.64645L8.17157 0.464466C7.97631 0.269204 7.65973 0.269204 7.46447 0.464466C7.2692 0.659728 7.2692 0.976311 7.46447 1.17157L10.2929 4L7.46447 6.82843C7.2692 7.02369 7.2692 7.34027 7.46447 7.53553C7.65973 7.7308 7.97631 7.7308 8.17157 7.53553L11.3536 4.35355ZM0 4.5H11V3.5H0V4.5Z" fill="#A426D1"/>
          </svg>
        </p>
      </div>      
  </div>
</div>
</div>

<div class="container position-relative">
  <div class="prset " *ngIf="hide" (click)="hidden()">
  <div class="kkcrd12">
    <div class="kkcrd text-center" (click)="$event.stopPropagation()">
          <div  *ngIf="User[0].profileUrl" class="kkprimg" style="position: relative; display: inline-block;">
            <img src="{{ User[0].profileUrl }}" class="rounded-circle kkprimg img-responsive">
            <span class="material-symbols-outlined" routerLink="/profile/choose-your-picutre-now"  style="position: absolute;
            margin-top: 58px;
            right: -7px;
            font-size: 20px;
            color: #a426d1;
            cursor: pointer;      
           ">
              edit
            </span>
      
    </div>
    <div class="kkprimg" *ngIf="!User[0].profileUrl">
        <img src="../assets/Frame 82.png" class="rounded-circle kkprimg img-responsive">
    </div>
        <div class="kkpname">
            <p class="kkprname">{{User[0].firstName}} <img  *ngIf="calculateTotal() === 100" src="../assets/Verified Check_.png" alt="pubkins" style="width:15px; margin-top: -6px;"> </p>
            <p class="kkprname1">Author</p>
            <p class="kkprbtn1" routerLink="/setting/wallet"><span class="material-symbols-outlined kknavicon">
              account_balance_wallet
              </span>Wallet</p>
              <p class="kkprbtn1" routerLink="/setting/billing-&-payment"><span class="material-symbols-outlined kknavicon">
                settings
                </span>Setting</p>
            <button type="button"class="btn kkprbtn2" (click)="logout()">Logout <span class="material-symbols-outlined kknavicon">

                logout
                </span></button>
        </div>
  </div>
  </div>
  </div>
</div>