<div class="container" style="margin-top: 20px;">
    <div class="row">
      <div class="col-2">
        <img routerLink="/authors" src="./assets/logo.png" class="rrpublogoimg1">
      </div>
      <div class="col-5">
        <div class="rrheadalign1">
          <a class="kkfrnavse rrmessalign1"  *ngIf="calculateTotal() < 69" >Post a Job</a>
          <a class="kkfrnavse rrmessalign1"  *ngIf="calculateTotal() > 69" routerLink="/post-a-job">Post a Job</a>
          <!-- <div class="dropdown">
            <button class="btn kkfrnavse dropdown-toggle " type="button" id="dropdownMenuButton1"
              data-bs-toggle="dropdown" aria-expanded="false">
              Jobs
            </button>
            <ul class="dropdown-menu listd" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item ddis" routerLink="/post-a-job">Post a New Job</a></li><br>
              <li><a class="dropdown-item ddis" routerLink="/authors/accept-a-request">Job Postings</a></li><br>
              <li><a class="dropdown-item ddis" routerLink="/authors/on-going-jobs">Ongoing Job</a></li><br>
              <li><a class="dropdown-item ddis">Completed Job</a></li><br>
            </ul>
          </div> -->
          <div class="dropdown">
            <button class="btn kkfrnavse dropdown-toggle " type="button" id="dropdownMenuButton1"
              data-bs-toggle="dropdown" aria-expanded="false">
              Jobs
            </button>
            <ul class="dropdown-menu listd" aria-labelledby="dropdownMenuButton1">
              <!-- <li><a class="dropdown-item ddis">Post a New Job</a></li><br> -->
              <li ><a class="dropdown-item ddis" routerLink="/authors/accept-a-request">My Jobs</a></li><br>
              <li  routerLink="/authors/on-going-jobs"><a class="dropdown-item ddis" >Ongoing Jobs</a></li><br>
              <li  routerLink="/authors/completed-jobs"><a class="dropdown-item ddis" >Completed Jobs</a></li><br>
            </ul>
          </div>
          <div class="dropdown">
            <button class="btn kkfrnavse dropdown-toggle " type="button" id="dropdownMenuButton1"
              data-bs-toggle="dropdown" aria-expanded="false">
              Reports
            </button>
            <ul class="dropdown-menu listd" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item ddis">Transactions</a></li><br>
              <li><a class="dropdown-item ddis">Project Dashboard</a></li><br>
            </ul>
          </div>
          <a class="kkfrnavse rrmessalign1" routerLink="/setting/wallet" >Wallet</a>
        </div>
      </div>
      <div class="col-3">

      </div>
      <div class="col-2">
        <div class=" rriconalign1">
          <img src="./assets/bell.png" class="rrbellimg1">
          <img (click)="hidden()" style="width: 51px;"  *ngIf="!User[0].profileUrl"  src="../assets/peerson.png">
          <img (click)="hidden()"  style="width: 51px;"  *ngIf="User[0].profileUrl"  src={{User[0].profileUrl}}>
        </div>
      </div>
    </div>
  </div>


  
<div class="container position-relative">
  <div class="prset " *ngIf="hide" (click)="hidden()" >
  <div class="kkcrd12">
    <div class="kkcrd text-center" (click)="$event.stopPropagation()" >
      <div class="kkprimg" *ngIf="User[0].profileUrl" >
        <img src="{{  User[0].profileUrl }}" class="rounded-circle kkprimg img-responsive">
    </div>
    <div class="kkprimg" *ngIf="!User[0].profileUrl">
        <img src="../assets/Frame 82.png" class="rounded-circle kkprimg img-responsive">
    </div>
        <div class="kkpname">
            <p class="kkprname">{{User[0].firstName}} <img  *ngIf="calculateTotal() === 100" src="../assets/Verified Check_.png" alt="pubkins" style="margin-top: -6px;"> </p>
            <p class="kkprname1">Author</p>
            <p class="kkprbtn1" routerLink="/setting/wallet" (click)="hidden()"><span class="material-symbols-outlined"  >
              account_balance_wallet
              </span>Wallet</p>
              <p class="kkprbtn1" routerLink="/setting/billing-&-payment" (click)="hidden()" ><span class="material-symbols-outlined">
                settings
                </span>Setting</p>
            <button type="button"class="btn kkprbtn2" (click)="logout()" (click)="hidden()" >Logout <span class="material-symbols-outlined">
                logout
                </span></button>
        </div>
  </div>
  </div>
  </div>
</div>