.kkbtnexemp{
  margin-top: 37px;
 }

 .kkbtnexemp1 { 
  position: absolute;
  bottom: 21px;
  width: 78%;
 }
 

 .cardexp { 
  width: 400px;
height: 227px;
flex-shrink: 0;
border: 2px solid #D2D2D2;
border-radius: 10px;
text-align: center;
}

.cardexp1 { 
  margin-left: 25px;
}
.expcont {
  color: #1C1C1C;
  font-family: 'League Spartan', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 36px;
}

.exp { 
  margin-top: 66px;
}

.exp1 { 
  margin-left: 12px;
  margin-top: 66px;
}

.exp2{ 
  margin-top: 37px;
  margin-left: 10px
}


.ne { 
  color: #FFF;
      font-family: 'League Spartan', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}










.kkadedudt{
  width: 700px;
  height: auto;

background: #FFF;
}

.kkadeduhd{
font-family: 'League Spartan', sans-serif;
font-size: 36px;
font-weight: 500;
margin-left: 15px;
margin-top: 25px;
}

.kkadeduhd1 { 
  margin-left: 5px;
}

.kkempcrd1  { 
  width: 365px;
  height: 280px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #FBF1FF;
  padding: 6px;
  overflow: hidden;
  color: #252525;
  margin-top: 22px;
  border: 0px;
  font-family: "League Spartan", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.kkeduhdtg{
  color: #333;
  font-family: 'League Spartan', sans-serif;
font-size: 20px;
font-weight: 500;
line-height: 36px;
margin-left: 10px;
margin-top: 20px;
}

.kkeduhdtg1 { 
  margin-top: 14px;
}

.mohead { 
  border: none;
  margin-bottom: -39px;
}



.kkin1{
    display: flex;
  width: 92%;
  font-size: 16px;
  font-family: 'League Spartan', sans-serif;
  font-weight: 400;
  height: 50px;
  padding: 14px 0px 14px 16px;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #CBCBCB;
  margin-left: 10px;
  margin-top: 6px;
  // box-shadow: 0px 1px 8px #e7e1e1;
}
.kkin2{
  display: flex;
  width: 89%;
  font-size: 17px;
  font-family: 'League Spartan', sans-serif;
  font-weight: 300;
  height: 50px;
  padding: 14px 0px 14px 16px;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #CBCBCB;
  margin-left: -1px;
  margin-top: 6px;
  // box-shadow: 0px 1px 8px #e7e1e1;
}
.kkin12{
  display: flex;
  width: 116px;
  height: 48px;
  padding: 10px 10px 10px 10px;
  align-items: center;
  font-size: 17px;
  font-family: 'League Spartan', sans-serif;
  font-weight: 300;
  border-radius: 4px;
  border: 1px solid #CBCBCB;
  margin-left: 6px;
  color: #0f0f0f;
  margin-bottom: 5px;

}



.kkyrbtn1{
  border-radius: 4px;
  border: 1px solid #CBCBCB;
  width: 275px;
  font-size: 17px;
  font-family: 'League Spartan', sans-serif;
  font-weight: 300;
  height: 50px;
  padding: 9px 14px 10px 16px;
  // box-shadow: 0px 1px 8px #e7e1e1;
}

.kkedubt{
  background-color: #A426D1;
  color: #FFF;
  padding: 12px 32px;
  border-radius: 4px;
  color: #FFF;
  font-family: 'League Spartan', sans-serif;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  border: 0px;
  float: right;
  margin-top: 41px;
  margin-right: 7px;
}

.kkedubt::placeholder { 
    color: #FFF;
}

.kkedubt23 { 
  float: none;
}
/* 
.dia12 { 
  /* position: relative;
  left: -7%;
  right: auto; 
}*/
.check123{
margin-left: 10px;
}
.rolework  { 
  color: rgba(0, 0, 0, 0.38);
  font-family: "League Spartan", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
}
select{
// box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.2);
cursor: pointer;
}

.check12 { 
  border-radius: 2px;
  border: 2px solid #AEAEAE;
  background: #F0F0F0;
  margin-left: 18px;
  width: 19px;
  position: relative;
  height: 17px;
  top: 2px;
}

.prateh {
  color: #000;
  font-family: "League Spartan", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  margin-top: 18px;
}

.ratecard { 
  display: inline-flex;
  height: 207px;
  width: 88%;
  padding: 11px 7px 11px 12px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 5px;
  border: 2px solid #DEDEDE;
  color: #797979;
  font-family: "League Spartan", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 36px;
  // box-shadow: 0px 1px 8px #e7e1e1;
}

.skip1 { 
display: flex;
width: 115px;
height: 41px;
justify-content: center;
align-items: center;
border-radius: 4px;
border: 1px solid #A426D1;
color: #A426D1;
font-family: "League Spartan", sans-serif;
font-size: 20px;
font-style: normal;
margin-top: 24px;
font-weight: 500;
margin-left: -22px;
line-height: normal;
}

.skip2 { 
color: #FFF;
font-family: "League Spartan", sans-serif;
font-size: 20px;
font-style: normal;
line-height: normal;
border-radius: 4px;
border: 0px;
background-color: #A426D1;
display: flex;
padding: 12px 32px;
margin-top: 21px;
justify-content: center;
align-items: center;
gap: 10px;
margin-left: 16px;
}




.hr { 
position: relative;
top: 20%;
margin-left: -19px;
font-size: 24px;
}

.govtname { 
color: #333;
font-family: "League Spartan", sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 36px; /* 150% */
margin-top: 103px;
}


.govtint{ 
 float: right;
 width: 200px;
 border: none;
 border-bottom: 1px solid #8C8C8C;
}








.authprofhead{ 
  color: #1C1C1C;
  font-family: "League Spartan", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 56px;
  margin-top: 13px;

}

.whatskilled { 
  color: #1C1C1C;
  font-family: "League Spartan", sans-serif;
  font-size: 29px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 21px;
}

.intsearchauth  {
  display: inline-flex;
  padding: 14px 40px 12px 26px;
  width: 85%;
  justify-content: flex-end;
  align-items: center;
  gap: 265px;
  border-radius: 6px;
  border: 2px solid #ACACAC;
  color: #1C1C1C;
  font-family: "League Spartan", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 23px;
}

.intPhoneAuth::placeholder, .intLocAuth::placeholder,.intsearchauth::placeholder  { 
color: #8B8B8B;
font-family: "League Spartan", sans-serif;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: normal;
}


.authsearchimg { 
position: absolute;
top: 29px;
right: 108px;
}

.popskill {
color: #2A2A2A;
font-family: "League Spartan", sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
// margin-top: 32px;
}


.addsk1,.addsk { 
  display: inline-flex;
  padding: 9px 3px 12px 12px;
  width: 90%;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 130px;
  background: #cf7ded;
  color: #FFF;
  font-family: "League Spartan", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.ddis {
  font-family: League Spartan;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 4px 16px 4px 16px;
}
.ddis:hover{
  color:  #A426D1;
}
.ddis:active {
  color: white;
  background-color: #A426D1;
}
.addsk { 
  background: #A426D1;
color: #fffdfd;
}

.phoneNumberAuth,.LocationAuth  {
  color: #1C1C1C;
  font-family: "League Spartan", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 41px;
}

.intPhoneAuth,.intLocAuth { 
  display: flex;
  width: 485px;
  padding: 16px 12px 16px 26px;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #ACACAC;
  margin-top: 17px;
  color: #1C1C1C;
  font-family: "League Spartan", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.saveauth  { 
border-radius: 7px;
background: #A426D1;
display: inline-flex;
padding: 12px 44px;
justify-content: center;
align-items: center;
gap: 10px;
color: #FFF;
border: 0px;
font-family: "League Spartan", sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
margin-top: 19px;
float: right;
line-height: normal;
}




.remain { 
float: right;
margin-right: 30px;
font-size: 16px;
margin-top: -9px;
}


.disclaimer { 
color: #A426D1;
font-family: League Spartan;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 14px;
}

.kkcmodel{
width: 690px
}
.kkeditdet12{
  display: flex !important;
  align-items: flex-end;
  gap: 12px;
  flex-direction: row;
  justify-content: flex-end;
}
.portfoltitlevv {
color: #1c1c1c;
font-family: League Spartan;
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding: 18px 4px 0px 22px;
}
.projtitlevv {
color: #333;
font-family: League Spartan;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 36px;
margin-left: 30px;
}

.placvv {
width: 600px;
margin-left: 30px;
color: #292525;
font-family: League Spartan;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: normal;
padding: 12px;
// box-shadow: 0px 1px 8px #e7e1e1;
}

.imghead {
color: #333;
font-family: League Spartan;
font-size: 23px;
font-style: normal;
font-weight: 400;
line-height: 36px;
margin-top: 15px;
margin-left: 23px;
}

.imageinputvv {
width: 259px;
height: 95px;
margin-left: 20px;
flex-shrink: 0;
border-radius: 4px;
border: 2px solid #cbcbcb;
display: flex;
align-items: center;
box-shadow: 0px 0px 13px 0 rgba(0, 0, 0, 0.2);
}
.imageinputvv:hover{
box-shadow: 3px 4px 13px 0 rgba(0, 0, 0, 0.2);
}
.upltext {
color: #c0c0c0;
font-family: League Spartan;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 25px;
}

.uploimvv{
width: 100%;
height: auto;
margin-left: 5px;
margin-top: 8px;
}

.modal-header {
display: flex;
flex-shrink: 0;
align-items: center;
justify-content: space-between;
padding: var(--bs-modal-header-padding);
border-bottom: solid white 1px;
border-top-left-radius: var(--bs-modal-inner-border-radius);
border-top-right-radius: var(--bs-modal-inner-border-radius);
}

.btn-close {
--bs-btn-close-color: #000;
--bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
--bs-btn-close-opacity: 0.5;
--bs-btn-close-hover-opacity: 0.75;
--bs-btn-close-focus-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
--bs-btn-close-focus-opacity: 1;
--bs-btn-close-disabled-opacity: 0.25;
--bs-btn-close-white-filter: invert(1) grayscale(100%) brightness(200%);
box-sizing: content-box;
width: 4em;
height: 1em;
padding: 0.25em 0.25em;
color: var(--bs-btn-close-color);
background: transparent var(--bs-btn-close-bg) center/1em auto no-repeat;
/* border-radius: 16.375rem; */
opacity: var(--bs-btn-close-opacity);
}

.savevv{
display: inline-flex;
padding: 12px 32px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 4px;
background: #A426D1;
margin-top: 20px;
float: right;
color: #FFF;
font-family: League Spartan;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding: 10px 30px 10px 30px;
}

.kkadbilltx{
  color: #000;
  font-family: "League Spartan";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
}
.kkadbill{
  color: #FFF;
  font-family: "League Spartan";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  display: inline-flex;
  padding: 12px 22px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  float: right;
  background: #A426D1;
  width: 255px;
}

.kkbillr{
display: flex;
align-items: center;
margin-top: 20px;
}
.kkbillingcon{
  width: 775px;
  margin-top: 28px;
  height: 180px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid #9E9E9E;
}
.kkbnktx1{
  color: #000;
    font-family: "League Spartan";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 20px;
    margin-top: 41px;
}


.kkbnktx2{
color: #A3A3A3;
font-family: "League Spartan";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 20px;

}
.kkbnktx3{
color: #A3A3A3;
font-family: "League Spartan";
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;}
.kkbnktx4{
color: #242424;
font-family: "League Spartan";
font-size: 17px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.kkbnktx5{
color: #A426D1;
font-family: "League Spartan";
font-size: 16px;
margin-right: 34px;
float: right;
margin-top: -10px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.kkbillr1{
align-items: center;
margin-left: -4px;
margin-top: 40px;
}
.kkdel{

margin-left: 30px;
}

.kkmodelbill{
width: 450px;
height: auto;
padding-bottom: 22px;
border-radius: 30px;
background: #FFF;
}

.btn-close{
font-size: 20px;
margin-right: -27px;
-bs-btn-close-color: #000;
}
.placvv:focus {
border-color:#A426D1;
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(208, 0, 255, 0.6);
}
.kkiconbill{
font-size: 25px;
margin-left: 33px;
}

.kkbillr3{
margin-top: 42px;
}
.kkbnktx6{ 
   color: #000;
font-family: "League Spartan";
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 36px;
margin-left: 40px;
}
.kkbillpay1{
  display: flex;
  width: 81%;
  height: 66px;
  padding: 22px 84px 19.75px 26px;
  align-items: flex-end;
  gap: 17px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 2px solid #E8E8E8;
  background: #FFF;
  color: #1C1C1C;
  font-family: "League Spartan";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 36px;
  flex-direction: row;
  margin-top: 27px;
  // box-shadow: 0px 4px 10px #e7e1e1;
}

.kkbillbtnlst{
  color: #FFF;
  font-family: "League Spartan";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: inline-flex;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #A426D1;
  margin-left: 98px;
  width: 238px;
  margin-top: 35px;
box-shadow: 2px 18px 29px 0px rgba(123, 43, 154, 0.04), 2px 5px 4px 0px rgba(118, 27, 153, 0.43);
}
.kkbilinput1{
  width: 370px;
  height: 66px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  border: 2px solid #E8E8E8;
  background: #FFF;
  font-family: "League Spartan";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 37px;
  margin-top: 20px;
  text-indent: 40px;
  // box-shadow: 0px 4px 10px #e7e1e1;
}

.kkbilinput2{   
  height: 61px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  padding-left: 21px;
  border: 2px solid #E8E8E8;
  background: #FFF;
  width: 166px;
  margin-left: 38px;
  margin-top: 24px;
  color: #A4A4A4;
  text-align: left;
  font-family: "League Spartan";
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.kkreadiobil{
margin-top: 39px;
display: flex;
gap: 10px;
align-items: center;
margin-left: 23px;  
}
.kkrdbtn1:checked{
background-color: #A426D1;
border-color: #A426D1;
}
.kkrdbtn1{
width: 20px;
height: 20px;
margin-top: -5px;
margin-left: 6px;
}
.kkrdbtn1:focus{
border-color: #ec8dff;
outline: 0;
box-shadow: 0 0 0 0.25rem rgba(249, 13, 253, 0.25);
}
.kkrdttx1{
color: #323232;
font-family: "League Spartan";
font-size: 19px;
font-style: normal;
font-weight: 500;
line-height: normal;

}

.kkbiladcd1{
  display: inline-flex;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #A426D1;
  color: #FFF;
  font-family: "League Spartan";
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  margin-top: 34px;
box-shadow: 2px 18px 29px 0px rgba(123, 43, 154, 0.04), 2px 5px 4px 0px rgba(118, 27, 153, 0.43);
}

.kkbiladcd{
display: flex;
justify-content: center;
}

.modal-content{ 
  width: none;
}

.kkskcardbill  { 
width: 807px;
margin-top: 28px;
padding-left: 26px;
height: 117px;
flex-shrink: 0;
border-radius: 20px;
border: 2px solid #9E9E9E;
}
.kkyrflx1{
display: flex;
gap: 61px;
margin-left: -1px;
}
.kkrow1{
display: flex;
gap: 30px;
}

.kkrow2{
display: flex;
gap:30px;
}



@media only screen and (min-width:1001px){



.rrpublogoimg1{
  width: 100px;
  // height: 65px;
  margin-top:30px;
  margin-left: -15px;
}

 

.rrpubcomcenalign12{
  display: flex;
  align-items: center;
  justify-content: center;
}
.rrpubcomendalign1{
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.bankicons { 
  width: 24px;
  margin-top: -2px;
}


.kkemphus{
  // margin-top: 30px;
  font-size: 30px;
  font-family: "League Spartan", sans-serif;
  font-weight: 500;   
 }

 .showProfiles{ 
  width: 100px;
 }

 .profileimg{  
  width: 120px;
 }

 
.kkemphusprof{
  margin-top: 28px;
  font-size: 40px;
  font-family: "League Spartan", sans-serif;
  font-weight: 600;   
 }


 
 .kkemphus1{
     margin-top: 10px;
     font-family: "League Spartan", sans-serif; 
     color: #7B7B7B;
    font-size: 18px;
    font-weight: 300;
    line-height: 36px; 
 }

 .kkempbtn1{
  border-radius: 4px;
  background: #F1C9FF;
  color: #A426D1;
  font-family: "League Spartan", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height:45px;
  position: absolute;
  margin-top: 20px;
 }
 .kkempbtn2{
  border-radius: 4px;
  background: #A426D1;
  color: #ffffff;
  font-family: "League Spartan", sans-serif;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 45px;
  position: absolute;
  right: 118px;
  margin-top: 20px;
 } 
 
 .kkempbtn1b{
  border-radius: 4px;
  background: #F1C9FF;
  color: #A426D1;
  font-family: "League Spartan", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height:45px;
  position: absolute;
  margin-top: 100px;
 }
 .kkempbtn2b{
  border-radius: 4px;
  background: #A426D1;
  color: #ffffff;
  font-family: "League Spartan", sans-serif;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 45px;
  position: absolute;
  right: 178px;
  margin-top: 100px;
 } 
/*Employment history */

 .kkempcrd{
      margin-top: 20px;
      font-family: "League Spartan", sans-serif;
      border-radius: 12px;
      background: #FBF1FF;
      width:90%;
      height:250px;
      padding:20px;
  }

  .rraddcirimg1{
    width:30px;
    height:30px;
    margin-top:100px;
    margin-left:10px;
  }
  .rraddexptxt1{
    color: #7B7B7B;
    font-family: "League Spartan", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    margin-top:10px;
    margin-left:10px;
  }

  .text02 { 
    color: #252525;
    font-family: "League Spartan", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    word-wrap: break-word;
  }
  
  .text03 { 
    color: #4B4B4B;
    font-family: "League Spartan", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    word-wrap: break-word;
    line-height: 25px;
  }
  
  .text04 { 
    color: #4B4B4B;
  font-family: "League Spartan", sans-serif;
  font-size: 19px;
  word-wrap: break-word;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; 
  }
  
  
  .text05 { 
    color: #252525;
    font-family: "League Spartan", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    word-wrap: break-word;
    line-height: 23px;
  }






   /* authours-idverify*/

   .rrpubaligntop1{
    margin-top: 50px;
   }

   .rrivfn1{
      color: #333;
        font-family: "League Spartan", sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 36px;
   }
   .rrfulnamealigntop{
      margin-top:10px
   }
   .rrcontopalign1{
    margin-top:120px;
   }
   .rrcontopalign2{
    margin-top:110px;
   }
  
    .rrpubjohntxt1{
      border: none;
    font-family: "League Spartan", sans-serif;
    font-size: 22px;
    font-style: normal;
    line-height: 36px;
    border-bottom: 2px solid #C5C5C5;
    width: 180px;
    height: 47px;
    padding: 10px 16px;
    }
    .govtselect { 
      border: 2px solid #C5C5C5;
      width: 180px;
      padding: 10px 12px;
      height: 47px;
      font-weight: 400;
      font-family: 'League Spartan';
      font-size: 18px;
      border-radius: 4px;
   }

   .govtupload { 
    width: 80%;
    height: 365px;
    border-radius: 24px;
    border: 1px solid #CBCBCB;
    box-shadow: 2px 18px 29px 0px rgba(123, 43, 154, 0.04), 2px 5px 4px 0px rgba(118, 27, 153, 0.43);
  }

  .govtimg { 
    margin-top: 60px;
    width: 108px;
    height: 108px;
  }

  .uplohead { 
    color: #3B3B3B;
  font-family: "League Spartan", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  margin-top: 29px;
  line-height: normal;
  }
  
  .uplocont { 
    color: #C0C0C0;
  font-family: "League Spartan", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  }


  .errormsg { 
    float: right;
    margin-right: 45px;
    font-size: 15px;
    margin-top: 5px;
    font-family: "League Spartan", sans-serif;
    color: #9617c4;
  }
  

  .errormsg1 { 
    font-size: 15px;
    margin-top: 5px;
    font-family: "League Spartan", sans-serif;
    color: #9617c4;
  }
  
  /*Freelancing-details*/

 .rrexpfreealign1:active{
  box-shadow: 3px 4px 13px 0 rgba(0, 0, 0, 0.2);
 }
.rrexpfreealign1{
  border-radius: 16px;
  border: 1px solid #D2D2D2;
  height:250px;
  width:95%;
  box-shadow: 0px 0px 13px 0 rgba(0, 0, 0, 0.2);
}

.rrfreeeximg1{
    width: 29px;
    height: 29px;
}

.rrexpcont {
  color: #1C1C1C;
  font-family: 'League Spartan', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 36px;
}

.rrstar2align{
  margin-left:5px;
  margin-right:5px;
}
.rrstar3align3{
  margin-top:-30px;
}

.selected {
  background-color: #FBEEFF;
  color: white; 
}


.kkempbtn3 { 
  background-color: #A426D1;
 }

  // .pgrss { 
  //     padding: 0px;
  //     width: 85%;
  //     height: 9px;
  //     position:absolute;
  //     bottom: 150px;  
  // }
  .pgrss{
  padding: 0px;
  width: 100%;
  height: 9px;
  margin-top: 180px;
}
.pgrssa{
  padding: 0px;
  width: 100%;
  height: 9px;
  margin-top: 330px;
}
.pgrssb{
  padding: 0px;
  width: 100%;
  height: 9px;
  margin-top: 118px;
}
  .pgrssbar { 
      background-color: #A426D1;
  }

  .skip { 
        color: #A426D1;
        font-family: 'League Spartan', sans-serif;
        font-size: 20px;
        font-style: normal;
        cursor: pointer;
        font-weight: 600;
        line-height: normal;
        position: absolute;
        // bottom: 65px;
        right: 205px;
        margin-top: 48px;
        transform: translate(-50%,-50%);
    }
    .skipa { 
      color: #A426D1;
      font-family: 'League Spartan', sans-serif;
      font-size: 20px;
      font-style: normal;
      cursor: pointer;
      font-weight: 600;
      line-height: normal;
      position: absolute;
      // bottom: 65px;
      right: 205px;
      margin-top: 48px;
      transform: translate(-50%,-50%);
  }
    .circlin { 
      width: 71%;
      height: 57px;
      border-radius: 30px;
      border: 1px solid #A426D1;
      margin-top: 21px;
      box-shadow: 0px 1px 8px #e7e1e1;
  }
  .rrlinkedinifl1{
    color: #1C1C1C;
    font-family: "League Spartan", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    margin-top: 15px;
    margin-left: 5px;
  }
  .rrpubimg1{
      width: 18px;
      height: 18px;
      margin-right:5px;
  }
  .rome { 
    width: 100%;
    height: 437px;
    object-fit: cover;
    margin-left: 70px;
    margin-top: -27px;
   }
   .rrgonextbtn3txt1 { 
        color: #272727;
        font-family: 'League Spartan', sans-serif;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
    }


    
.serv { 
    display: inline-flex;
    padding: 14px 40px 14px 16px;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #CBCBCB;
    color: #272727;
        font-family: 'League Spartan', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    width:600px;
    height:50px;
  }

  .serv::placeholder { 
      color: #9F9F9F;
      font-family: 'League Spartan', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }


  .rrextrawidthbtn1{
      width:150px;
  }


}

@media only screen and (min-width:601px) and (max-width:1000px) {
.dtview{
  display:none;
}
}


@media only screen and (max-width:600px){
 .dtview{
      display:none;
  }
}

//whoopee
.flx { 
  display: flex;
  justify-content: center ;
}

.ecard  {
  position: relative;
  width: 596px;
  height: 506px;
  border-radius: 16px;
  margin-top: 27px;
  border: 1px solid #CBCBCB;
  -webkit-box-shadow: 2px 4px 0px 1px rgba(0,0,0,.16), 0 9px 10px 0 rgba(0,0,0,.12);
  box-shadow: 2px 4px 0px 1px rgba(0,0,0,.16), 0 9px 10px 0 rgba(0,0,0,.12);
}


.cele { 
  width: 248px;
  height: 198px;
  position: absolute;
  margin-left: -125px;
}


.mhead{  
  color: #1C1C1C;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-family: "League Spartan",sans-serif;
  font-weight: 600;
  line-height: normal;
  margin-top: 25px;
} 

.mhead1 { 
  margin-top: 71px;
}

.mcont { 
  color: #6A6A6A;
  font-family: "League Spartan",sans-serif;
text-align: center;
font-size: 19px;
font-style: normal;
font-weight: 400;
line-height: 28.5px; /* 150% */
margin-top: 18px;
}

.regif { 
  width: 197px;
  margin-top: 58px;
height: 197px;
flex-shrink: 0;
}

.regif1 { 
  margin-top: 0px;
}

.rimg  { 
  margin-top: -7px;
}

.icon { 
  margin-left: 35px;
}


input[type=text]:focus {
outline: none;  
border-color:#A426D1;
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(208, 0, 255, 0.6);
}
textarea:focus {
outline: none;  
border-color:#A426D1;
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(208, 0, 255, 0.6);
}
select:focus {
outline: none;  
border-color:#A426D1;
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(208, 0, 255, 0.6);
}
.check123 { 
--mdc-checkbox-selected-checkmark-color: white;
--mdc-checkbox-selected-focus-icon-color: blueviolet;
--mdc-checkbox-selected-hover-icon-color: blueviolet;
--mdc-checkbox-selected-icon-color: blueviolet;
--mdc-checkbox-selected-pressed-icon-color: blueviolet;
--mdc-checkbox-selected-focus-state-layer-color: white;
--mdc-checkbox-selected-hover-state-layer-color: white;
--mdc-checkbox-selected-pressed-state-layer-color: white;
--mdc-checkbox-unselected-focus-state-layer-color: blueviolet;
--mdc-checkbox-unselected-hover-state-layer-color: blueviolet;
--mdc-checkbox-unselected-pressed-state-layer-color: blueviolet;
}


.detscrol{
height: 500px;
    overflow-y:scroll;
    scrollbar-width: thin; 
    scrollbar-color: transparent transparent; 
    
    
    &::-webkit-scrollbar {
      width: 6px;
    }
    
    &::-webkit-scrollbar-thumb {
      background-color: transparent;
    }
}




