.kkgolebtn{
    display: flex;
    width: 430px;
    padding: 12px 32px;
    justify-content: center;
    font-family: "League Spartan",sans-serif;
    font-size: 20px;
    align-items: center;
    border-radius: 8px;
    border: 2px solid #A426D1;
    background: rgba(255, 255, 255, 0.1);
}

.kkgolebtn2{
    margin-top: -4px;
}