<div class="container mt-3">
    <div class="row">
        <div class="col-3">
            <img routerLink="/" src="../assets/Artboard 1 1.png" alt="Pubkin">
        </div>
        <div class="col-9">
        </div>
    </div>
</div>

<form>
    <div class="text-center flx">

        <div class="ecard" style="height: 532px;">
            <div class="fmt1">
                <span class="emailforegtpass">
                    outgoing_mail
                </span>
            </div>
            <p class="head" style="margin-top: 32px;">Update Your Password</p>
            <p class="forgetleft">Enter your Email address and select <span class="forgetleft2">Send Email.</span></p>
            <p class="forgetleft1">Email</p>
            <input type="email" class="int" style="width:430px" placeholder="Email" id="email" name="email">
            <div class="flx left5">
                <button class="btnfr1" type="submit"><span>Cancel</span></button>
                <button class="btnfr2" type="submit"><span>Send Email</span></button>
            </div>
        </div>
    </div>
</form>