<app-author-nav></app-author-nav>
<div>
    <hr>
    <!-- <p class="recenvv12">Ongoing Jobs</p> -->
    <div class="container">
        <div *ngIf="!anyJobInProgress()" class="recenvv11">
          No Ongoing Jobs are available for you!
        </div>
      </div>
    <div class="container" *ngFor="let Post of Posts">
   
        <div class="borderboxv11" *ngIf="Post.userId == UserData[0].id && Post.status === 'Ongoing'">
            <div class="row" >
                <div class="col-10">
                    <p class="recenvv11">{{Post.jobTitle}}</p>
                </div>
                <div class="col-2"><button type="button" class="but5"  (click)="showJobDetails(Post.jobUniqueId)">View</button></div>
                <p class="recenvv22">Posted 1 day ago</p>
                <p class="bullet"><svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17"
                        fill="none"><circle cx="8.5" cy="8.5" r="8.5" fill="#D767FF" />
                    </svg> &nbsp;&nbsp; Review Requested</p>
            </div>
        </div>
    </div>
</div>