<div class="container mt-3">
    <div class="row">
        <div class="col-3">
            <img src="../assets/Artboard 1 1.png" alt="Pubkin">
        </div>
        <div class="col-9">

        </div>
    </div>
</div>

<div class="text-center">
    <div class="flx">
        <div class="redirect">
            <img class="rimg" src="../assets/checkmark circle 2_.png" alt="Pubkin"> You are a pubkin member
            now. Redirecting now...
        </div>
    </div>
    <img class="regif" src="../assets/redirect.gif" alt="Pubkin Now">
    <br>

    <img class="fb"  src="../assets/icon _facebook icon_.png"
        alt="Pubkin facebook">
    <img class="icon" src="../assets/icon _instagram icon_.png" alt="Pubkin facebook">
    <img class="icon" src="../assets/icon _linkedin_.png" alt="Pubkin facebook">
    <img class="icon" src="../assets/icon _youtube_.png" alt="Pubkin facebook">

</div>