<form #commentForm="ngForm" (ngSubmit)="submitComment(commentForm)">
  <input type="text" name="FileName" [(ngModel)]="commentData.FileName" >
  <input type="text" name="DateLastModified" [(ngModel)]="commentData.DateLastModified"  placeholder="DateLastModified">
  <input type="text" name="FileUrl" [(ngModel)]="commentData.FileUrl" >
  <input type="text" name="Comments" [(ngModel)]="commentData.Comments" >
  <input type="text" name="LastModifiedBy" [(ngModel)]="commentData.LastModifiedBy" >
  <input type="text" name="JobId" [(ngModel)]="commentData.JobId" >
  <input type="text" name="CommentDateTime" [(ngModel)]="commentData.CommentDateTime" >
  <input type="text" name="DateCreated" [(ngModel)]="commentData.DateCreated"  placeholder="dateCreated">
  <input type="text" name="Id" [(ngModel)]="commentData.Id"  placeholder="id">
  <input type="file" name="File" (change)="onFileSelected($event)" >

  <button type="submit">Submit</button>
</form>
