
<div>
    <label for="year1">Select Year 1:</label>
    <select id="year1" [(ngModel)]="selectedYear1" (change)="updateSelectedYears('year1')">
      <option *ngFor="let year of years" [value]="year">{{ year }}</option>
    </select>
    <br>
    <label for="year2">Select Year 2:</label>
    <select id="year2" [(ngModel)]="selectedYear2" (change)="updateSelectedYears('year2')">
      <option *ngFor="let year of getAvailableYears()" [value]="year">{{ year }}</option>
    </select>
  
    <div *ngIf="selectedYear1 || selectedYear2">
      <p>Selected Years: {{ selectedYear1 || 'Not selected' }} TO {{ selectedYear2 || 'Not selected' }}</p>
    </div>
  
    <app-accordion [items]="accordionItems"></app-accordion>
  </div>
  