
<div class="dtview">
    <div class="container rrheaderalign">
      <div class="row">
        <div class="col-xl-6 col-lg-5">
          <img src="./assets/logo.png" class="rrlogoimg" routerLink="/">
        </div>
        <div class="col-xl-6 col-lg-7">
          <div class="rrpubkincenteralign1  d-flex  rrpubkinheadalign1" style="margin-top: 22px; float: right;">
            <p class="rrpubkintxt1">Find Talent</p>
            <p class="rrpubkintxt1">Find Work</p>
            <p class="rrpubkintxt1">Why us?</p>
            <button type="button" class="btn kksignbtn waves-effect waves-light" (click)="navigateToProfile('all')">Sign
              up</button>
          </div>
        </div>
      </div>
    </div>
  

    <div class="container mt-5">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="kkaptft">
                  <div *ngIf="content === 'whatispubkin'">
                  <h1>{{ heading }}</h1>
                    <p class="contentmainhd">What is PubKin?</p><p class="contentmainhd1">
                    PubKin is more than just a platform; it's a pioneering ecosystem designed to revolutionize the way authors, publishers, service providers, and freelancers collaborate in the publishing industry. We've harnessed the power of technology to simplify the process and break down barriers, making publishing more accessible and efficient for everyone involved.</p>  
                    <p class="contentmainhd">Why PubKin?<p class="contentmainhd1">
                    
                    PubKin by Alize Software Services LLP is more than a solution; it's a transformative force in the publishing industry. Say goodbye to the frustrations and inefficiencies of the current vendor landscape. With PubKin, authors and publishers can focus on what they do best—creating and sharing compelling stories—while our platform takes care of the rest.
                    
                    <br><br>Join us in reshaping the future of publishing by adopting PubKin. Discover how our collaborative platform can simplify your publishing journey, boost efficiency, and enable your creativity like never before.</p>
                 </div>
                 <div *ngIf="content === 'objectives'">
                    <p class="contentmainhd"> Objective for PubKin:</p>
                    <p class="kksidehead">
                    "Empowering the Publishing Ecosystem Through Seamless Collaboration"</p>
                    
                  <p class="kksidehd1">1. Mission Statement:<p class="sidehd2">                    
                    At PubKin, our primary objective is to revolutionize the publishing industry by creating a comprehensive and user-centric platform that enables authors, publishers, and service providers to collaborate seamlessly. We aim to bridge the gaps within the publishing ecosystem, delivering efficiency, transparency, and excellence in every aspect of the process.</p>
                    
                    <p class="kksidehd1">2. Facilitating Author-Publisher Partnerships:<p class="sidehd2">    
                    
                    Our core mission is to facilitate and strengthen partnerships between authors and publishers. We strive to connect authors with the right publishers who can provide the necessary resources and expertise, enabling them to bring their creative works to a broader audience.</p>
                    
                    <p class="kksidehd1">3. Empowering Authors:
                        <p class="sidehd2">    
                    One of our key objectives is to empower authors, especially indie authors, by offering them access to high-quality publishing services and experts. We aim to make the publishing process more accessible, efficient, and cost-effective, so authors can focus on their creativity while we take care of the logistics.</p>
                    
                    <p class="kksidehd1">4. Elevating Publishing Service Providers and Freelancers:
                        <p class="sidehd2">    
                    We are committed to elevating the careers and opportunities of publishing service providers and freelancers by giving them a platform to showcase their skills, connect with clients, and receive fair compensation for their work. Our goal is to create a thriving marketplace where professionals can grow and succeed.</p>
                    
                    <p class="kksidehd1">5. Transparency and Trust:
                        <p class="sidehd2">    
                    PubKin's objective is to promote transparency and trust in the publishing industry. We provide a secure and reliable platform where all transactions are transparent, payments are guaranteed, and communication is facilitated, reducing the risks associated with publishing collaborations.</p>
                    
                    <p class="kksidehd1">6. Data-Driven Innovation:
                        <p class="sidehd2">    
                    Our aim is to leverage data analytics to provide users with actionable insights, helping them make informed decisions and improve the quality and success of their publishing projects. We are dedicated to continuously innovating and enhancing our platform to meet the evolving needs of the publishing community.</p>
                    
                    <p class="kksidehd1"> 7. Building a Thriving Community:
                        <p class="sidehd2">    
                    PubKin aspires to create a thriving community of authors, publishers, service providers, and freelancers. We want to foster a supportive environment where users can connect, share knowledge, and collaborate effectively. Our objective is to be more than just a platform; we aim to be a hub for the entire publishing ecosystem.</p>
                    
                    <p class="kksidehd1">  8. Scalability and Inclusivity:
                        <p class="sidehd2">    
                    Our objective is to cater to a diverse range of users, from independent authors and small publishers to large publishing houses. We want PubKin to be a scalable and customizable solution, ensuring that our platform adapts to the unique requirements of each user, regardless of their size or scope.</p>
                    
                    <p class="kksidehd1"> 9. Global Reach:
                        <p class="sidehd2">    
                    We aim to expand our reach and impact on a global scale, connecting authors, publishers, and service providers from around the world. Our objective is to make PubKin a global standard for collaborative publishing, breaking down geographical barriers and facilitating cross-border partnerships.</p>
                    
                    <p class="kksidehd1">10. Continuous Improvement:
                        <p class="sidehd2">    
                    PubKin's primary objective is to continuously improve and innovate, staying ahead of industry trends and technological advancements. We are committed to providing our users with the best tools, services, and resources to achieve excellence in publishing.
                    
                    In summary, PubKin's objective is to be the driving force behind a transformative shift in the publishing industry, where collaboration is efficient, transparent, and empowering for all stakeholders. We are dedicated to providing the tools and resources that authors, publishers, service providers, and freelancers need to thrive in the ever-evolving world of publishing.</p>
                    
                        </div>
                        <div *ngIf="content === 'services'">

                        <p  class="contentmainhd"> PubKin Services: Empowering the Publishing Ecosystem</p>
                    <p class="kksidehead">
                    PubKin is your gateway to a comprehensive range of services that cater to authors, publishers, service providers, and freelancers. Our platform simplifies the publishing process and offers a wide array of services to meet your unique needs. Here's a breakdown of the services we provide:</p>
                    
                   <p class="kksidehd1"> 1. Author Services:</p>
                   <div class="sidehd2">  
                    <ul><li>
                       Editorial Assistance: Find professional editors for copyediting, proofreading, and manuscript evaluation.</li>
                    <li> Cover Design: Connect with talented designers to create eye-catching book covers.</li>
                     <li>Content Writing: Access skilled writers to help with content creation, whether it's book content, marketing copy, or blog posts.</li>
                     <li>Self-Publishing Guidance: Get guidance on self-publishing options, platforms, and strategies.</li>
                       </ul>
                    </div>
                    
                   <p class="kksidehd1"> 2. Publisher Services:</p><div class="sidehd2"><ul>    
                       <li>Talent Discovery: Discover new authors and their works, and assess their potential for publication.</li>
                       <li>Editorial Services: Find experienced editors for content development, line editing, and more.</li>
                       <li>Distribution Solutions: Access distribution services to reach a broader audience and get your books in the hands of readers.</li>
                       <li>Collaborative Tools: Utilize our platform's project management and communication tools to streamline publishing projects.</li>
                       </ul></div>
                    
                   <p class="kksidehd1"> 3. Service Providers and Freelancers:<div class="sidehd2"><ul>    
                       <li>Profile Creation: Create a professional profile showcasing your skills, expertise, and portfolio.</li>
                       <li>Project Listings: List your services and availability for authors and publishers to discover.</li>
                       <li>Secure Payment System: Use our platform for secure and transparent payment transactions.</li>
                       <li>Real-time Collaboration: Collaborate efficiently with clients and manage projects in one place.</li>
                    </ul></div>
                    
                       <p class="kksidehd1"> 4. Literary Agent Networking:<div class="sidehd2"><ul>    
                       <li>Author Representation: Discover promising authors to represent and help them secure publishing deals.</li>
                       <li>Publisher Partnerships: Connect with publishers to negotiate deals on behalf of your authors.</li>
                       <li>Submission Platform: Submit manuscripts and book proposals on behalf of your clients.</li>
                    </ul></div>
                    
                       <p class="kksidehd1">  5. Book Marketing and Promotion:<div class="sidehd2"><ul>    
                    <li>Marketing Services: Find experts in book marketing, public relations, and social media promotion.</li>
                       <li>Promotion Campaigns: Plan and execute comprehensive book promotion campaigns.</li>
                      <li>Audience Building: Build author and book brands through effective audience engagement.</li>
                    </ul></div>
                    
                       <p class="kksidehd1"> 6. Content Resources:<div class="sidehd2"><ul>    
                      <li>Educational Content: Access a wealth of educational materials, guides, and resources related to writing, publishing, and book marketing.</li>
                       <li>Industry Insights: Stay informed with industry news, trends, and analysis.</li>
                    </ul></div>
                    
                       <p class="kksidehd1"> 7. Community and Support:<div class="sidehd2"><ul>    
                       <li>Community Forums: Engage with fellow authors, publishers, and service providers to share insights and seek advice.</li>
                       <li>Customer Support: Reach out to our dedicated support team for assistance and guidance.</li>
                       <li>Webinars and Events: Participate in virtual events, workshops, and webinars to expand your knowledge and network.</li>
                     </ul></div>
                    
                       <p class="kksidehd1">   8. Marketplace for Services:<div class="sidehd2"><ul>    
                       <li>Service Marketplace: Explore and compare services and pricing from a diverse pool of professionals.</li>
                       <li>Service Ratings and Reviews: Benefit from user ratings and reviews to make informed service provider choices.
                        </li>
                       </ul></div>
                    
                       <p class="kksidehd1">9. Data-Driven Insights:<div class="sidehd2"><ul>    
                     <li> Analytics and Recommendations: Access data-driven insights and recommendations to optimize your publishing projects and strategies.</li>
                     </ul>
                    
                    PubKin's services are designed to empower and streamline the publishing process, ensuring that every stakeholder in the industry can access the tools, talent, and resources they need to succeed. Whether you're an author seeking to bring your manuscript to life, a publisher looking for the next bestseller, or a service provider seeking new clients, PubKin has the services you need to thrive in the publishing ecosystem.</div>
                    <br><br>
                    </div></div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
    <br><br><br>