<app-author-nav></app-author-nav>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div style="position: relative;">
                    <input type="text" class="search" placeholder="Search Job posting" name="search" [(ngModel)]="searchTerm" (input)="onSearchChange($event)">
                    <img class="srch" src="../assets/search.png" alt="pubkin Start a career now">
                    <button class="btn kkfrnavse all dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        All
                    </button>
                    <ul class="dropdown-menu listd" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item ddis">Today</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-6">
            </div>
        </div>
        <hr class="hrmain">
    </div>
<div class="container">
    <div *ngIf="anyJobInProgress()" class="phead">
      No Job Posts are available for you!
    </div>
  </div>
    <div class="container"  *ngFor="let Post of Posts  | jobsearch : searchTerm; ">
        <div *ngIf="Post.userId == UserData[0].id && Post.status === 'Open'">
        <div class="row" >
            <div [routerLink]="['/authors/accept-a-request/pick-now', Post.id]"  class="col-8 phead" >
               {{Post.jobTitle}}
            </div>
            <div class="col-3"></div>
            <div class="col-1">
                <img class="show12" src="../assets/show more.png" alt="Pubkin Its yours" (click)="toggleIcons(Post)">  
                <div class="EDITDEL" *ngIf="Post.showIcons" >
                        <!-- <img  src="./assets/Frame 193.png"> -->
                        <img  src="./assets/deleteico.png" data-bs-toggle="modal" data-bs-target="#deletmodel" (click)="ApplyModal(Post);">                
            </div>
        </div>
        <p class="posted">Posted {{getPostStatus(Post.postDate)}}</p>
        <p class="prop" [routerLink]="['/authors/accept-a-request/pick-now', Post.jobId]"> <img class="cicr" src="../assets/Ellipse 40.png" alt="Ellipse">New Proposals: 0<span
                class="tot">Total Proposal: 0</span></p>
        <hr class="sub">
        </div>
    </div>
</div>

  


  <div class="modal fade" id="deletmodel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" >
      <div class="modal-content">
        <button type="button" class="btn-close e1" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="pad1" >
          <div class="modal-hed">
  
            <p class="c22" id="exampleModalLabel5"><b>Do you want delete this post ?</b></p>
          </div>
          <div class="kksubbtn" *ngIf="selectedhire">
            <button type="button" class="btn kkkbtnbk" data-bs-dismiss="modal" (click)="toggleIcons(Posts)">Back</button>
            <form #updateForm="ngForm" (ngSubmit)="onSubmitStatus(updateForm)">
              <input type="hidden" id="id" name="id" [(ngModel)]="selectedhire.id">
              <input type="hidden" id="status" name="status" [(ngModel)]="selectedhire.status">
            <button type="submit" class="btn kkkbtncn" (click)="ChangeStatus()">Confirm</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  