$pubmainfont:'League Spartan', sans-serif;
$pumaincolor:#A426D1;
.kkfrnavbar{
    margin-top: 20px;
}
.kkfrnavbar1{
    align-items: baseline;
    justify-content: space-around;
    gap: 13px;
}

.bell  { 
    float: right;
    position: relative;
    top: 10px;
}
.kkfrnavse{
    border: 0;
    color: #0F0F0F;
font-family: 'League Spartan', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
cursor: pointer;
}
.kkfrnavse:active{
    color: #A426D1;
}
.ddis { 
    color: #0F0F0F;
    font-family: League Spartan;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 4px 16px 4px 16px;
}


.listd { 
    padding: 15px;
    --bs-dropdown-link-active-bg: #c7cdd3;
}

/* search box */

.search { 
    border-radius: 8px;
border: 2px solid #C1C1C1;
width: 96%;
height: 54px;
flex-shrink: 0;
color: #2A2A2A;
font-family: League Spartan;
font-size: 20px;
font-style: normal;
font-weight: 500;
margin-top: 51px;
line-height: normal;
padding-left: 50px;
padding-right: 83px;
}

.search::placeholder {
    color: #2A2A2A;
    font-family: League Spartan;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.srch { 
    position: absolute;
    left: 14px;
    top: 66px;
}

.all{ 
    position: absolute;
    top: 64px;
    right: 39px;
}


.hrmain { 
    margin-top: 44px;
    border: 1px solid;
}

.phead{ 
    color: #000;
    font-family: League Spartan;
    font-size: 29px;
    font-style: normal;
    font-weight: 500;
    margin-top: 31px;
    line-height: 36px;
}

.show12{ 
    margin-top: 37px;
}

.cicr { 
    padding-right: 15px;
    margin-top: -5px
}

.posted { 
    color: #535353;
font-family: League Spartan;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 36px; /* 150% */
margin-top: 28px;
}

.prop { 
    color: #000;
    font-family: League Spartan;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    margin-top: 26px;
    line-height: 36px;
}

.tot { 
    margin-left: 40px;
}

.sub { 
    margin-top: 44px;
    border: 1px solid;
}

.EDITDEL{
    margin-top: 35px;
    margin-left: -20px;
    position: absolute;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.kkkbtncn{
    background-color: #A426D1;
    border: none;
    color: white;
    width: 94px;
    height: 37px;
    text-align: center;
    display: flex;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    padding-left: 18px;
    padding-top: 8px;
}

.kkkbtnbk{
    background-color: #E0E0E0;
    border: none;
    color: rgb(8, 8, 8);
    width: 96px;
    height: 37px;
    text-align: center;
    font-size: 16px;
    display: flex;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    padding-left: 32px;
    padding-top: 8px;
}
.kksubbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    // padding-bottom: 25px;
    margin-top: 20px;
}
.c22{
    font-family: $pubmainfont;
    font-size: 23px;
    font-style: normal;
    line-height: 22px;
    margin-top: 8px;
    text-align: center;
    font-weight: 300;
}


.pad1{
    padding: 13px 36px 47px 36px;
}


.e1{
    margin-left: 455px;
    margin-top: 22px;


}