.applyhead1 {
    color: #000;
    font-family: "League Spartan";
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.jobDesc23{  
    color: #535353;
    font-family: "League Spartan";
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}
.kkjbbx {
    border: 2px solid #C1C1C1;
    height: auto;
    border-radius: 16px;
    flex-shrink: 0;
    margin-top: 25px;
    padding: 23px 28px 13px 33px;
}

.kkjbbx1 {


    height: auto;
    width: 272px;

}

.kkjobfutxt {
    margin-top: 50px;
    font-size: 35px;
    font-weight: 700;
    font-family: 'League Spartan', sans-serif;
}

.kkjobfutxt1 {
    color: #535353;
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
    margin-top: 30px;
    font-style: normal;
    cursor: pointer;
    font-weight: 500;
    line-height: normal;
}

.kkjobfutxt2 {
    color: #535353;
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
    margin-top: -19px;
    margin-left: 122px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

.kkjobfutxt1:hover {
    text-decoration: underline;

}

.kkjobfutxt2:hover {
    text-decoration: underline;

}

.kkjbtxtline1 {
    margin-top: 25px;
    font-size: 26px;
    line-height: 36px;
    font-weight: 500;
    font-family: "League Spartan", sans-serif;
}

.kkjbtxtline2 {
    color: #535353;
    font-family: "League Spartan", sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    margin-top: 34px;
}

.kkjbtxtline3 {
    color: #535353;
    font-family: "League Spartan";
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    position: absolute;
    right: 25px;
    bottom: 28px;
}


.PostBy { 
    color: #A426D1;
}
.viewapply {
    display: inline-flex;
    padding: 13px 12px;
    width: auto;
    margin-top: 32px;
    border: 0px;
    float: right;
    margin-right: 22px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #A426D1;
    color: #FFF;
    font-family: "League Spartan";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


/* Cover Letter */
.dia12 {
    width: 80%;
    max-width: 80%;
    height: auto;
}

.closemo {
    position: absolute;
    right: 14px;
    top: 13px;
}

.covel {
    display: flex;
    width: 100%;
    padding: 9px 697px 7px 20px;
    align-items: center;
    border-radius: 8px;
    background: #F5D9FF;
    border-radius: 8px;
    margin-top: 30px;
    color: #000;
    font-family: League Spartan;
    font-size: 29px;
    font-style: normal;
    font-weight: 600;
    line-height: 36.5px;
}

.kkde {
    padding: 0px 25px 63px 18px;
}


.covcont {
    width: 100%;
    padding: 0px 15px;
    color: #535353;
    font-family: League Spartan;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    margin-top: 21px;
}
.btnclose5 {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;

  }