<app-freelancernav></app-freelancernav>
<br><br>
<div>
  <div class="container">
    <p class="applyhead">Completed Jobs</p>
    <div class="row ">
      <div class="col-12">
        <div class="appliedborder">
          <div *ngIf="anyJobInProgress()" class="jobtitle">
            No completed jobs are available for you!
          </div>
          <div *ngFor="let Apply of  Applies;">
            <div class="row" style="margin-top: 17px;" *ngIf="Apply.status === 'completed' && Apply.userId === currentUser[0].id" >
              <div class="col-8">
                <p class="jobtitle">{{Apply.jobTitle}}</p>
              </div>
              <div class="col-4">
                <p class="aboutjob">Rate: <span style="color: black;">
                  <span *ngIf="Apply.currency === 'INR'" class="moneysymbol"
                  >₹</span
                >
                <span *ngIf="Apply.currency === 'USD'" class="moneysymbol"
                  >$</span
                >
                <span *ngIf="Apply.currency === 'AED'" class="moneysymbol"
                  >د.إ</span
                >
                <span *ngIf="Apply.currency === 'ANG'" class="moneysymbol"
                  >ƒ</span
                >
                <span *ngIf="Apply.currency === 'AOA'" class="moneysymbol"
                  >Kz</span
                >
                <span *ngIf="Apply.currency === 'ARS'" class="moneysymbol"
                  >$</span
                >
                <span *ngIf="Apply.currency === 'OMR'" class="moneysymbol"
                  >ر.ع.</span
                >
                <span *ngIf="Apply.currency === 'SAR'" class="moneysymbol"
                  >.س</span
                >
                  {{Apply.biddingRate}}</span></p>
              </div>
              <div class="col-8">
                <p class="postedname">posted by <span style="color: #A426D1;">{{Apply.postBy}}</span></p>
              </div>
              <div class="col-4">
                <button class="viewJobbtn" (click)="showJobDetails(Apply.jobId)">View</button>
              </div>
              <hr class="applyhr">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>