<app-freelancernav></app-freelancernav>
<br><br>
<div>
  <div class="container">
    <p class="applyhead">Ongoing Jobs</p>
    <div class="row ">
      <div class="col-12">
        <div class="appliedborder">
          <div *ngIf="!anyJobInProgress()" class="jobtitle">
            No jobs in progress are available for you!
          </div>
          <div *ngFor="let Apply of  Applies;">
            <div class="row" style="margin-top: 17px;" *ngIf="Apply.status === 'progress'">
              <div class="col-8">
                <p class="jobtitle">{{Apply.jobTitle}}</p>
              </div>
              <div class="col-4">
                <p class="aboutjob">Rate: <span style="color: black;">₹ 2000</span></p>
              </div>
              <div class="col-8">
                <p class="postedname">posted by <span style="color: #A426D1;">{{Apply.postBy}}</span></p>
              </div>
              <div class="col-4">
                <button class="viewJobbtn" (click)="showJobDetails(Apply.skillSet)">View</button>
              </div>
              <hr class="applyhr">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>